body {
    background-color: #262B62;
}

div.sign-up-card {
    min-width: 700px;
}

div.sign-up-card {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

div.sign-card-header-box {
    height: 10em;
}

div.address-area>div.col>div.row {
    margin-bottom: 0.3em;
}

div.verify-area>div.col>div.row {
    margin-bottom: 0.3em;
}