html,
body {
    height: 100%;
}

body {
    background-color: #262B62;
}

div.sign-in-card {
    min-width: 700px;
}

div.sign-in-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.sign-card-header-box {
    height: 10em;
}