<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Channel-B Sign In</title>

    <link href="/custom/icons/samsung_letter/samsung_ci.png" rel="icon" type="image/x-icon" />

    <link href="/library/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/library/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="library/vendor/jquery/jquery.min.js"></script>
    <script src="library/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="library/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="library/js/sb-admin-2.min.js"></script>

    <link href="/custom/style/home.css" rel="stylesheet">
    <script src="/custom/script/home.js"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            let data = /*[[${informations}]]*/ null;
            checkObject(data);
            signUpClick();
        });
    </script>
</head>

<body id="samples" class="bg-gradient-primary">
    <div id="content" class="container" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Channel B 접속을 환영합니다.</h1>
                                        <hr/>
                                    </div>
                                    <div class="text-center">
                                        <h1 id="access-user-profile" class="h5 text-gray-900 mb-4"></h1>
                                    </div>

                                    <form class="user">
                                        <a href="#" id="sign-up-user-profile" class="btn btn-primary btn-user btn-block">간편 회원가입</a>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>