<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta id="_csrf" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <title>Channel-B Sign In</title>

    <link href="/custom/icons/samsung_lettermark/samsung_ci.png" rel="icon" type="image/x-icon" />

    <link href="/library/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/library/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="library/vendor/jquery/jquery.min.js"></script>
    <script src="library/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="library/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="library/js/sb-admin-2.min.js"></script>

    <link href="/custom/style/signup.css" rel="stylesheet">
    <script src="/custom/script/signup.js"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            let data = /*[[${informations}]]*/ null;
            let userProfileAttributes = data.principal.attributes;
            setUserInfo(userProfileAttributes);
            initCompanyState(userProfileAttributes);
            initRegionState(userProfileAttributes);
            getTermsData(userProfileAttributes);
            initTermsState(userProfileAttributes);

            configureEventHandlers(userProfileAttributes);
        });
    </script>
</head>

<body id="samples" class="bg-gradient-primary">
    <div id="content" class="container" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">환영합니다.</h1>
                                        <hr/>
                                    </div>

                                    <form class="user">
                                        <div class="form-group row">
                                            <input type="text" class="form-control form-control-user" id="userName" placeholder="이름" readonly>
                                        </div>

                                        <div class="form-group row">
                                            <input type="text" class="form-control form-control-user" id="userEmail" placeholder="이메일" readonly>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-8 pl-0 pr-0">
                                                <input type="text" class="form-control form-control-user" id="userCompanyKeyword" placeholder="회사명이름">
                                            </div>
                                            <div class="col">
                                                <button id="searchCompanies" type="button" class="btn btn-primary w-100 h-100">검색</button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <select id="companySearchResult" class="custom-select circle-select" aria-label="user company"></select>
                                        </div>

                                        <div class="form-group row">
                                            <select id="userRegion" class="custom-select circle-select" aria-label="user nation"></select>
                                        </div>

                                        <div class="form-group row">
                                            <div class="custom-control custom-checkbox small col">
                                                <input type="checkbox" class="custom-control-input" id="agreeChannelB">
                                                <label class="custom-control-label" for="agreeChannelB">Channel B 사용약관 동의</label>
                                            </div>

                                            <div class="col-3 pl-0 pr-0">
                                                <button type="button" class="btn btn-primary btn-sm w-100" id="view-tc-terms">약관 확인</button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="custom-control custom-checkbox small col">
                                                <input type="checkbox" class="custom-control-input" id="agreePrivacyPolicy">
                                                <label class="custom-control-label" for="agreePrivacyPolicy">개인정보 활용 동의</label>
                                            </div>

                                            <div class="col-3 pl-0 pr-0">
                                                <button type="button" class="btn btn-primary btn-sm w-100" id="view-pp-terms">약관 확인</button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="custom-control custom-checkbox small col">
                                                <input type="checkbox" class="custom-control-input" id="agreeIntegratedMarketing" disabled>
                                                <label class="custom-control-label" for="agreeIntegratedMarketing">통합 마케팅 정보 활용 동의</label>
                                            </div>

                                            <div class="col-3 pl-0 pr-0">
                                                <button type="button" class="btn btn-primary btn-sm w-100" id="view-ma-terms">약관 확인</button>
                                            </div>
                                        </div>

                                        <a id="sign-up-user-profile" class="btn btn-primary btn-user btn-block">간편 회원가입</a>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="logoutForm" method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right" style="display: none;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button id="logout-button" type="submit" class="btn btn-danger" style="width: 100%;">Logout</button>
    </form>
</body>

</html>