.bg-login-image {
    background: url(/custom/icons/samsung_lettermark/300_186_1.png.avif);
    background-position: center;
    background-size: cover
}

.circle-select {
    border-radius: 10rem;
    height: 3rem;
    font-size: .8rem;
    color: #6E707E;
}


/* .red-highlight {
    font-weight: bold;
    color: red;
} */